
.header {
    height: 130px;
    border-bottom: 1px solid rgba(238, 238, 238, .1);
}
.wrapperHeader {
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font-size: 24px;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none; 
}
.navigation {
    display: flex;
    min-width: 310px;
    justify-content: space-between;
}
.Home {
}
.AboutMe {
}
.Contact {
}
.Home, .AboutMe, .Contact {
    cursor: pointer;
    /* Ваши стили здесь */
    color: white; /* Пример: устанавливаем синий цвет текста */
    font-size: 18px; /* Пример: устанавливаем размер шрифта */
    transition: .2s;
}
.Home:hover{
    color: #c4c4c4;
}
.AboutMe:hover{
    color: #c4c4c4;
}
.Contact:hover{
    color: #c4c4c4;
}