.header {
    height: 130px;
    border-bottom: 1px solid rgba(238, 238, 238, .1);
}
.wrapperHeader {
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font-size: 24px;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none; 
}
.navigation {
    display: flex;
    align-items: center;
}
.Home, .AboutMe, .Contact {
    cursor: pointer;
    color: white;
    font-size: 18px;
    transition: .2s;
    margin-right: 48px;
}
.Home:hover{
    color: #c4c4c4;
}
.AboutMe:hover{
    color: #c4c4c4;
}
.Contact:hover{
    color: #c4c4c4;
}
.wrapperOfButtonAndPopUp {
    position: relative;
}
.popUpWithChangeLanguage {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 180px;
    height: 130px; 
    background-color: #3c4655;
    border-radius: 16px;
}
.englishLanguage {
    font-family: 'Poppins-Bold';
    transition: .2s;
}
.russianLanguage {
    font-family: 'Poppins-Bold';
    transition: .2s;
}
.activeLanguage{
    border:1px solid white ;
}
.language{
    font-family: 'Poppins-Bold';
    background: linear-gradient(-45deg, #1737eb, #67f591 ,#ffb374, #e560dcef, #ff3300ef, #ef5f5f , #d840b6 , #ff0000 , #1e58af , #f1ff2b); /* Начальный градиент */
    background-size: 400% 400%; /* Увеличиваем размер фона для анимации */
    animation: gradient-animation 12s ease infinite
}
@keyframes gradient-animation {
    0% {
        background-position: 0% 50%; /* Начальная позиция */
    }
    50% {
        background-position: 100% 100%; /* Позиция в середине анимации */
    }
    100% {
        background-position: 0% 50%; /* Возвращаемся к началу */
    }
}