@font-face {
    font-family: 'Poppins-Regular';
    src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins-Bold';
    src: url('./assets/fonts/Poppins-Bold.ttf') format('truetype');
}
*{
    margin: 0;
    padding: 0;
    /* font-size: 18px; */
}
body{
    background-color: #222831;
    position: relative;
}
.container {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    position: relative;
}
p,h1,h2,button,a,div{
    font-family: 'Poppins-Regular';
    color: #EEEEEE;
    font-size: 18px;
}
span{
    color: #00ADB5;
}
h1{
    font-family: 'Poppins-Bold';
    font-size: 96px;
}
h2{
    font-family: 'Poppins-Bold';
    font-size: 64px;
}
button{
    background-color: rgba(57, 62, 70, .75);
    border-radius: 25px;
    padding: 10px 30px 10px 30px;
    border: none; /* Убираем рамку */ /* Отступы */
    cursor: pointer; /* Курсор при наведении */
    font-family: 'Poppins-Bold';
    transition: .2s;
    display: flex;
    text-shadow: 2px 2px 4px #1a1a1a;
}
button p{
    font-family: 'Poppins-Bold';
}
button:active {
    background-color: rgba(49, 54, 61, 0.75); /* Цвет фона при нажатии */
    transform: translateY(2px); /* Эффект "утопления" */
}
label{
    font-family: 'Poppins-Bold';
    margin-bottom: 10px;
}
input{
    height: 60px;
    width: 288px;
    border-radius:16px;
    background-color: rgba(57, 62, 70, .5);
    border: 0px;
    text-align: left;
    box-sizing: border-box;
    padding: 0px 24px 0 24px;
    font-family: 'Poppins-Bold';
    font-size: 18px;
    color:#FFFFFF ;
    transition: .8s ease;
}
input:focus{
    border:2px solid rgba(12, 12, 12, 0.5);
    outline: none;
}
textarea{
    border-radius:16px;
    background-color: rgba(57, 62, 70, .5);
    border: 0px;
    text-align: left;
    box-sizing: border-box;
    padding: 16px 24px 0 24px;
    font-family: 'Poppins-Bold';
    font-size: 18px;
    color:#FFFFFF ;
    transition: .8s ease;
    resize: none;
}
img{
    -webkit-user-select: none;
    -moz-user-select: none;  
    -ms-user-select: none;     
    user-select: none; 
}